<mat-form-field [class]="formInputClass" [appLoadingSpinner]="loading">
  <mat-label>{{ label }}</mat-label>
  <input matInput
    [formControl]="inputControl"
    [matAutocomplete]="auto"
    [placeholder]="placeholder"
    [disabled]="disabled"
    (blur)="onBlur()"
  />
  <mat-icon matSuffix style="color: rgba(0,0,0,0.54); font-size: 20px; line-height: 20px;">arrow_drop_down</mat-icon>
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onOptionSelected($event)">
    <mat-option *ngFor="let option of filteredOptions" [value]="option">
      {{ getLabel(option) }}
    </mat-option>
  </mat-autocomplete>
  <mat-error>{{ error }}</mat-error>
</mat-form-field>
