<div class="pl-8 pr-9 pt-6">
  <div class="flex item-center justify-between">
    <div class="text-xl font-bold">Change Password</div>
  </div>

  <div class="mt-8 w-1/2">
    <form [formGroup]="formGroup">
      <div class="mt-2">
        <mat-form-field class="form-input">
          <mat-label>Current Password</mat-label>
          <input
            autocomplete="off"
            matInput
            [formControl]="formControl.oldPassword"
            [type]="showOldPassword ? 'text' : 'password'"
          />
          <span
            class="material-icons cursor-pointer pr-2"
            matSuffix
            (click)="showOldPassword = !showOldPassword"
          >
            {{ showOldPassword ? "visibility_off" : "visibility" }}
          </span>
          <mat-error>
            {{ getErrorMessage("oldPassword") }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mt-2">
        <mat-form-field class="form-input">
          <mat-label>New Password</mat-label>
          <input
            autocomplete="off"
            matInput
            [formControl]="formControl.newPassword"
            [type]="showNewPassword ? 'text' : 'password'"
          />
          <span
            class="material-icons cursor-pointer pr-2"
            matSuffix
            (click)="showNewPassword = !showNewPassword"
          >
            {{ showNewPassword ? "visibility_off" : "visibility" }}
          </span>
          <mat-error>
            {{ getErrorMessage("newPassword") }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="mt-2">
        <mat-form-field class="form-input">
          <mat-label>Confirm New Password</mat-label>
          <input
            autocomplete="off"
            matInput
            [formControl]="formControl.confirmNewPassword"
            [type]="showConfirmPassword ? 'text' : 'password'"
          />
          <span
            class="material-icons cursor-pointer pr-2"
            matSuffix
            (click)="showConfirmPassword = !showConfirmPassword"
          >
            {{ showConfirmPassword ? "visibility_off" : "visibility" }}
          </span>
          <mat-error>
            {{ getErrorMessage("confirmNewPassword") }}
          </mat-error>
        </mat-form-field>
      </div>
    </form>

    <div class="actions-btn flex justify-end mt-10 gap-5 form-container mx-auto px-3">
      <button class="cancel-btn" (click)="onCancel()" [disabled]="isLoading">
        Cancel
      </button>
      <button class="sec-btn" (click)="onSubmit()" [disabled]="formGroup.invalid || isLoading">
        {{ isLoading ? 'Changing...' : 'Change Password' }}
      </button>
    </div>
  </div>
</div>
