
<div *ngIf="isModal" class="d-flex justify-content-end mb-3">
    <span role="button" (click)="closeModal()">
        <mat-icon>close</mat-icon>
    </span>
</div>
<h4 *ngIf="formTitle" class="d-flex justify-content-center text-centre mb-3">{{formTitle}}</h4>
<form class="form w-100" [formGroup]="form" (ngSubmit)="submit()">
    <div class="row m-0 gap-3">
        <div  [class]="'p-0 mb-1 row col-sm-12 '+getFieldColumn(field.columnWidth)" *ngFor="let field of formFields">
            <app-form-input *ngIf="field.fieldType == 1" 
            (changeEvent)="inputChange($event)"
            [field]="field" 
            [form]="form">
            </app-form-input> 

            <app-form-select 
            *ngIf="field.fieldType == 2" 
            (changeEvent)="selectChange($event)"
            [field]="field" 
            [form]="form" 
            [formFields]="formFields" >
            </app-form-select>
        </div>

        <div class="row col-12 d-grid mt-2 gap-2">
            <button class="btn btn-info" [disabled]="form.invalid">{{buttonLabel}}</button>
        </div>
    </div>

</form>