<div class="p-6">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4">
    @for(item of cards; track item) {
      @if(item.url) {
        <a
          [routerLink]="item.url"
          routerLinkActive="active-card"
          [routerLinkActiveOptions]="{ exact: false }"
          matRipple
          class="nav-card"
        >
          <div class="flex items-start justify-between">
            <div class="nav-card-icon-box">
              @if(item.matIcon) {
                <mat-icon class="nav-card-icon">{{ item.matIcon }}</mat-icon>
              } @else {
                <img [src]="item.icon" alt="{{ item.name }} icon" class="w-5 h-5" />
              }
            </div>
            <mat-icon class="nav-card-arrow">arrow_forward</mat-icon>
          </div>
          <div>
            <p class="nav-card-name">{{ item.name }}</p>
            @if(item.description) {
              <p class="nav-card-desc">{{ item.description }}</p>
            }
          </div>
        </a>
      } @else {
        <div class="nav-card-disabled">
          <div class="flex items-start justify-between">
            <div class="nav-card-icon-box">
              @if(item.matIcon) {
                <mat-icon class="text-gray-400">{{ item.matIcon }}</mat-icon>
              } @else {
                <img [src]="item.icon" alt="{{ item.name }} icon" class="w-5 h-5 opacity-40" />
              }
            </div>
          </div>
          <div>
            <p class="nav-card-name">{{ item.name }}</p>
            @if(item.description) {
              <p class="nav-card-desc">{{ item.description }}</p>
            }
          </div>
        </div>
      }
    }
  </div>
</div>
