.material-icons {
  $size: 1.25rem;
  font-size: $size;
  width: $size;
  height: $size;
  color: #8d91a0;

  &.lock {
    color: rgb(var(--color-primary));
  }
}

input {
  font-size: 14px !important;
}
