@if ( { loading: loading$ | async, dropdownLoading: dropdownLoading$ | async,
genderList: genderList$ | async, religionList: religionList$ | async,
countryList: countryList$ | async, selectedCountryStateList:
selectedCountryStateList$ | async, selectedStateLgaList: selectedStateLgaList$ |
async }; as obs ) {

<div class="min-w-[18rem] md:min-w-[21rem]">
  <div class="flex justify-start mb-6 ml-2">
    <span class="text-black font-bold text-lg">Create Profile</span>
  </div>
  <form [formGroup]="formGroup" (submit)="onSubmit()" class="flex flex-col gap-6">
    <div class="grid gap-x-4 mt-2">
      <div class="form-input-wrapper">

        <mat-form-field class="mx-5">
          <mat-label>Family Name</mat-label>
          <input type="text" matInput [formControl]="formControl.lastName" />
          <mat-error>
            {{ getErrorMessage("lastName") }}
          </mat-error>
        </mat-form-field>

        <app-searchable-mat-select
          class="mx-5"
          [loading]="obs.dropdownLoading && !obs.religionList"
          [options]="obs.religionList!"
          label="Religion"
          placeholder="Select religion"
          [formControl]="formControl.religion"
          [formInputClass]="''"
          [error]="getErrorMessage('religion')"
        ></app-searchable-mat-select>

        <mat-form-field class="mx-5">
          <mat-label>Email</mat-label>
          <input type="email" matInput [formControl]="formControl.email" />
          <mat-error>
            {{ getErrorMessage("email") }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mx-5">
          <mat-label>Phone Number</mat-label>
          <input type="text" matInput [formControl]="formControl.phoneNumber" />
          <mat-error>
            {{ getErrorMessage("phoneNumber") }}
          </mat-error>
        </mat-form-field>

        <app-searchable-mat-select class="mx-5"
          [options]="obs.countryList!"
          label="Nationality"
          placeholder="Select nationality"
          [labelKey]="'name'"
          [valueKey]="'id'"
          [formControl]="formControl.nationalityId"
          [formInputClass]="''"
          [error]="getErrorMessage('nationalityId')"
        ></app-searchable-mat-select>

        <app-searchable-mat-select class="mx-5"
          [options]="obs.selectedCountryStateList!"
          label="State of Origin"
          placeholder="Select state of origin"
          [labelKey]="'name'"
          [valueKey]="'id'"
          [formControl]="formControl.stateOfOriginId"
          [formInputClass]="''"
          [error]="getErrorMessage('stateOfOriginId')"
        ></app-searchable-mat-select>

        <app-searchable-mat-select class="mx-5"
          [options]="obs.selectedStateLgaList!"
          label="Local Government"
          placeholder="Select local government"
          [labelKey]="'name'"
          [valueKey]="'id'"
          [formControl]="formControl.originLGAId"
          [formInputClass]="''"
          [error]="getErrorMessage('originLGAId')"
        ></app-searchable-mat-select>

        <mat-form-field class="mx-5">
          <mat-label>Home Address</mat-label>
          <input type="text" matInput [formControl]="formControl.homeAddress" />
          <mat-error>
            {{ getErrorMessage("homeAddress") }}
          </mat-error>
        </mat-form-field>

        <mat-form-field class="mx-5">
          <mat-label>City/Town</mat-label>
          <input type="text" matInput [formControl]="formControl.residentialCity" />
          <mat-error>
            {{ getErrorMessage("residentialCity") }}
          </mat-error>
        </mat-form-field>

        <app-searchable-mat-select class="mx-5"
          [options]="obs.selectedCountryStateList!"
          label="Residential State"
          placeholder="Select residential state"
          [labelKey]="'name'"
          [valueKey]="'id'"
          [formControl]="formControl.residentialStateId"
          [formInputClass]="''"
          [error]="getErrorMessage('residentialStateId')"
        ></app-searchable-mat-select>

      </div>
    </div>
    <button type="submit" [disabled]="formGroup.invalid" class="sec-btn mx-5">
      Create Profile
    </button>
  </form>
</div>
}