#table-loader {
  .ph-item {
    border: unset;
  }

  .ph-row.item {
    padding-top: 0.9375rem;
    padding-bottom: 0.9375rem;
    border-top: 1rem solid var(--app-secondary);
    align-items: center;
  }

  .round {
    margin-top: 0rem;
    border-radius: 0.625rem;
  }

  .background {
    background-color: var(--app-secondary);
  }

  .empty {
    background-color: transparent;
  }

  .ph-item,
  .ph-col-12 {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .header {
    background: var(--app-table-header-bg);
    height: 2.5rem;
    margin-bottom: 1rem;
  }
}
