<div [formGroup]="form">
    <label [for]="field.name" class="form-label">
        {{field.label}} <span *ngIf="field.validations?.required" class="text-danger">*</span>
    </label>
    <input 
    [type]="field.textType" 
    (change)="onChange()"
    [formControlName]="field.name" 
    class="form-control" 
    [ngClass]="{
        'is-invalid': form.get(field.name)?.touched && form.controls[field.name].invalid,
        'is-valid': form.controls[field.name].valid
    }" />
</div>
<app-form-errors [field]="field" [form]="form"></app-form-errors>