@if ( { localGovernmentAreaList: localGovernmentAreaList$ | async, loading: loading$ | async }; as obs
) {
<div class="pl-8 pr-9 pt-6">
  <div class="flex item-center justify-between">
    <div class="text-xl font-bold">Local Government Areas</div>

    <button class="sec-btn" routerLink="create">Create Local Government Area</button>
  </div>

  <div class="mt-8">
    <app-table
      [isLoading]="obs.loading ?? false"
      [showActionColumn]="true"
      [tableData]="obs.localGovernmentAreaList?.data ?? null"
      [tableHeaderData]="header"
    ></app-table>
  </div>
</div>
}
