
<small class="text-danger" *ngIf="form.get(field.name)?.touched && form.get(field.name)?.hasError('required')">
    This field is required
</small>
<small class="text-danger" *ngIf="form.get(field.name)?.touched && form.get(field.name)?.hasError('email')">
    An email is expected
</small>
<small class="text-danger" *ngIf="form.get(field.name)?.touched && form.get(field.name)?.hasError('min')">
    Cannot be lower than {{field?.validations?.min}}
</small>
<small class="text-danger" *ngIf="form.get(field.name)?.touched && form.get(field.name)?.hasError('max')">
    Cannot be greater than + {{field?.validations?.max}}
</small>
<small class="text-danger" *ngIf="form.get(field.name)?.touched && form.get(field.name)?.hasError('minlength')">
    Cannot be shorter than {{field?.validations?.minLength}}
</small>
<small class="text-danger" *ngIf="form.get(field.name)?.touched && form.get(field.name)?.hasError('maxlength')">
    Cannot be longer than {{field?.validations?.maxLength}}
</small>