@forward "button";
@forward "color";
@forward "input";
@forward "typography";
@forward "scrollbar";

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}