:root {
  --mdc-filled-text-field-container-color: transparent;
  --mdc-filled-text-field-active-indicator-color: rgba(0, 0, 0, 0.1);
}

.mdc-notched-outline__notch {
  border-right: none;
}

.mat-mdc-form-field-icon-suffix {
  .mat-datepicker-toggle {
    button {
      margin-top: 15px;
    }
  }
}

.mat-mdc-text-field-wrapper.mdc-text-field--filled
  .mat-mdc-form-field-flex
  .mat-mdc-floating-label {
  top: 35px;
}

.form-input-wrapper {
  margin-bottom: 8px !important;
}

.form-input {
  width: 100%;

  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: var(--app-white) !important;
  }

  .mat-mdc-form-field-icon-suffix .mat-datepicker-toggle button {
    margin-top: 5px !important;
  }
}

.mat-mdc-form-field {
  margin-bottom: 8px;
}

// Input appearance fill
.mat-mdc-form-field .mdc-text-field--filled {
  padding-left: 12px;
  background: none;
}

.mat-mdc-form-field .mdc-text-field--filled .mdc-floating-label--float-above {
  transform: translateY(-150%) scale(0.75);
}

.mat-mdc-form-field
  .mdc-text-field--filled:not(
    .mdc-text-field--disabled,
    .mdc-text-field--invalid
  ):hover
  .mdc-line-ripple::before {
  border-bottom-color: var(--app-primary);
}

.exai-style-dark .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}

.mat-mdc-form-field .mdc-text-field--filled .mat-mdc-form-field-focus-overlay {
  background: none;
}

// Input appearance outline
.mat-mdc-form-field .mdc-text-field--outlined {
  background: var(--app-white);
  padding-left: 12px;
}

.mat-mdc-form-field
  .mdc-text-field--outlined:not(
    .mdc-text-field--disabled,
    .mdc-text-field--invalid
  )
  .mdc-notched-outline__leading,
.mat-mdc-form-field
  .mdc-text-field--outlined:not(
    .mdc-text-field--disabled,
    .mdc-text-field--invalid
  )
  .mdc-notched-outline__notch,
.mat-mdc-form-field
  .mdc-text-field--outlined:not(
    .mdc-text-field--disabled,
    .mdc-text-field--invalid
  )
  .mdc-notched-outline__trailing {
  border-color: var(--base-700-color);
}

.mat-mdc-form-field
  .mdc-text-field--outlined:not(
    .mdc-text-field--disabled,
    .mdc-text-field--invalid
  ):not(.mdc-text-field--focused):hover
  .mdc-notched-outline
  .mdc-notched-outline__leading,
.mat-mdc-form-field
  .mdc-text-field--outlined:not(
    .mdc-text-field--disabled,
    .mdc-text-field--invalid
  ):not(.mdc-text-field--focused):hover
  .mdc-notched-outline
  .mdc-notched-outline__notch,
.mat-mdc-form-field
  .mdc-text-field--outlined:not(
    .mdc-text-field--disabled,
    .mdc-text-field--invalid
  ):not(.mdc-text-field--focused):hover
  .mdc-notched-outline
  .mdc-notched-outline__trailing {
  border-color: var(--app-primary);
}

.mat-mdc-form-field-focus-overlay {
  background-color: transparent;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: transparent;
}

.mdc-text-field--no-label:not(.mdc-text-field--outlined):not(
    .mdc-text-field--textarea
  )
  .mat-mdc-form-field-infix {
  padding-top: 24px;
  padding-bottom: 8px;
}

.placeholder-margin {
  .mat-mdc-select-placeholder {
    margin-top: 16px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

.dropdown-loading {
  position: absolute;
  right: 2.5px;
  top: 1.25rem;
  z-index: 1000;
  width: 1.8rem;
  background-color: transparent;
}

.query-search-dropdown-loading {
  position: absolute;
  right: 40px;
  top: 3px;
  z-index: 1000;
  background-color: transparent;
}
