/* You can add global styles to this file, and also import other style files */
/* @tailwind base;
@tailwind components;
@tailwind utilities; */
body {
    font-size: 1rem;
}
a {
    cursor: pointer;
}

.vh-75 {
    height: 75vh !important;
}

.material-icons {
    font-size: 1rem !important;
    height: 1rem !important;
    width: 1rem !important;
}

.modal-content {
    padding: 2rem;
    max-height: max-content !important;
    margin-right: 1rem !important;
}