.icon-xs {
  font-size: 14px !important;
  width: 14px !important;
  height: 14px !important;
  line-height: 14px !important;
}

.icon-sm {
  font-size: 16px !important;
  width: 16px !important;
  height: 16px !important;
  line-height: 16px !important;
}

.icon-md {
  font-size: 18px !important;
  width: 18px !important;
  height: 18px !important;
}

.icon-xl {
  font-size: 48px !important;
  width: 48px !important;
  height: 48px !important;
}
