<div class="p-6">
  <div class="flex justify-between items-center mb-4">
    <h3 class="text-xl font-semibold">Program Types</h3>
    <div class="flex gap-2">
      <button mat-raised-button color="primary" (click)="onRefresh()" class="flex items-center">
        <mat-icon>refresh</mat-icon>
        <span>Refresh</span>
      </button>
      <button mat-raised-button color="accent" routerLink="create" class="flex items-center">
        <mat-icon>add</mat-icon>
        <span>Create New</span>
      </button>
    </div>
  </div>

  
  @if ( { loading: loading$ | async,
  programTypeAll: programTypeAll$ | async }; as obs ) {
    <mat-accordion>
    <mat-expansion-panel *ngFor="let item of sortedProgramTypes" (opened)="onProgramTypeOpened(item.id)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ item.name }} (Level {{ item.level }})
        </mat-panel-title>
        <mat-panel-description>
          Click to expand
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- <ul>
        <li *ngFor="let subItem of item.children">
          {{ subItem }}
        </li>
      </ul> -->
    </mat-expansion-panel>
  </mat-accordion>
  
  <!-- <div class="bg-white mat-elevation-z8 p-5">
    

    @for (programType of obs.programTypeAll; track $index) {
    <div class="flex gap-2 mb-2">
      <button mat-icon-button color="warn" (click)="expandProgramType()" matTooltip="Edit">
        <mat-icon>chevron_right</mat-icon>
      </button>
      <div>{{programType.name}}</div>
    </div>
    }
  </div> -->
  }
  @else {
  <app-table-loader></app-table-loader>
  }

  <app-table [tableData]="(programTypeList$ | async)?.data ?? []" [tableHeaderData]="tableHeaderData"
    [isLoading]="(loading$ | async) ?? false" [totalLength]="(programTypeList$ | async)?.totalCount ?? 0"
    [pageSize]="(programTypeList$ | async)?.recordPerPage ?? 10"
    [pageIndex]="(programTypeList$ | async)?.currentPage ?? 0" [showSearch]="true" [showFilters]="true"
    [showActionColumn]="true" (pageChange)="onPageChange($event)" (search)="onSearch($event)"
    (filter)="onFilter($event)" (view)="onView($event)" (edit)="onEdit($event)" (delete)="onDelete($event)"></app-table>
</div>