<div class="p-6">
  <div class="flex justify-between items-center mb-4">
    <h3 class="text-xl font-semibold">Program Types</h3>
    <div class="flex gap-2">
      <button mat-raised-button color="primary" (click)="onRefresh()" class="flex items-center">
        <mat-icon>refresh</mat-icon>
        <span>Refresh</span>
      </button>
      <button mat-raised-button color="accent" routerLink="create" class="flex items-center">
        <mat-icon>add</mat-icon>
        <span>Create New</span>
      </button>
    </div>
  </div>


  @if ( { loading: loading$ | async,
  programTypeAll: programTypeAll$ | async,
  classLevelAll: classLevelAll$ | async,
  classAll: classAll$ | async,
  classSubjectAll: classSubjectAll$ | async,
  classSubjectAssessmentAll: classSubjectAssessmentAll$ | async,
  subjectAll: subjectAll$ | async,
  }; as obs ) {
  <mat-accordion>
    <mat-expansion-panel *ngFor="let programType of programTypeAllSnapShot"
      (opened)="onPanelOpened(programType.id, ProgramSetupLevel.CLASSLEVEL)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ programType.name }}
        </mat-panel-title>
        <mat-panel-description>
          <!-- Show Classes -->
        </mat-panel-description>

        <span class="ml-auto flex gap-2" (click)="$event.stopPropagation()">
          <button mat-icon-button color="accent" (click)="onEdit(programType)" matTooltip="Edit">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="onDelete(programType)" matTooltip="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </span>
      </mat-expansion-panel-header>

      <ul>
        <!-- class level layer -->
        <mat-accordion>
          <mat-expansion-panel *ngFor="let classLevel of getClassLevels(programType.id)"
            (opened)="onPanelOpened(classLevel.id, ProgramSetupLevel.CLASSARM)">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{ classLevel.name }} {{ classLevel.level }}
              </mat-panel-title>
              <mat-panel-description>
                <!-- Show Sub-Classes -->
              </mat-panel-description>

              <span class="ml-auto flex gap-2" (click)="$event.stopPropagation()">
                <button mat-icon-button color="accent" (click)="onEdit(classLevel, ProgramSetupLevel.CLASSLEVEL)"
                  matTooltip="Edit">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" (click)="onDelete(classLevel, ProgramSetupLevel.CLASSLEVEL)"
                  matTooltip="Delete">
                  <mat-icon>delete</mat-icon>
                </button>
              </span>
            </mat-expansion-panel-header>


            <ul>
              <!-- class layer -->
              <mat-accordion>
                <mat-expansion-panel *ngFor="let class of getClasses(classLevel.id)"
                  (opened)="onPanelOpened(class.id, ProgramSetupLevel.CLASSSUBJECT)">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      {{ classLevel.name }} {{ classLevel.level }} {{ class.name }}
                    </mat-panel-title>
                    <mat-panel-description>
                      <!-- Show Subjects -->
                    </mat-panel-description>

                    <span class="ml-auto flex gap-2" (click)="$event.stopPropagation()">
                      <button mat-icon-button color="accent" (click)="onEdit(class, ProgramSetupLevel.CLASSARM)"
                        matTooltip="Edit">
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button mat-icon-button color="warn" (click)="onDelete(class, ProgramSetupLevel.CLASSARM)"
                        matTooltip="Delete">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </span>
                  </mat-expansion-panel-header>


                  <ul>
                    <!-- class subject layer -->
                    <mat-accordion>
                      <mat-expansion-panel *ngFor="let classSubject of getClassSubjects(class.id)"
                        (opened)="onPanelOpened(classSubject.id, ProgramSetupLevel.CLASSSUBJECTASSESSMENT)">
                        <mat-expansion-panel-header>
                          <mat-panel-title>
                            {{ getSubjectName(classSubject.subjectId) }}
                          </mat-panel-title>
                          <mat-panel-description>
                            <!-- Show Assessments -->
                          </mat-panel-description>

                          <span class="ml-auto flex gap-2" (click)="$event.stopPropagation()">
                            <button mat-icon-button color="accent"
                              (click)="onEdit(classSubject, ProgramSetupLevel.CLASSSUBJECT)" matTooltip="Edit">
                              <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button color="warn"
                              (click)="onDelete(classSubject, ProgramSetupLevel.CLASSSUBJECT)" matTooltip="Delete">
                              <mat-icon>delete</mat-icon>
                            </button>
                          </span>
                        </mat-expansion-panel-header>


                        <ul>
                          <!-- class subject assessment layer -->
                          <mat-accordion>

                            <app-table [tableData]="getClassSubjectAssessments(classSubject.id)"
                              [tableHeaderData]="assessmentTypeTableHeaderData" [showActionColumn]="true" [showViewIcon]="false"
                              (edit)="onEdit($event, ProgramSetupLevel.CLASSSUBJECTASSESSMENT)"
                              (delete)="onDelete($event, ProgramSetupLevel.CLASSSUBJECTASSESSMENT)"
                              [isLoading]="(loading$ | async) ?? false" [showPaginator]="false"></app-table>

                            <button *ngIf="addFormVisibleFor != classSubject.id" mat-raised-button color="primary"
                              (click)="onRefresh(ProgramSetupLevel.CLASSSUBJECTASSESSMENT)">
                              <mat-icon>refresh</mat-icon>
                            </button>
                            <button *ngIf="addFormVisibleFor != classSubject.id" mat-raised-button color="accent"
                              (click)="showAddForm(classSubject.id)">
                              <mat-icon>add</mat-icon>
                            </button>
                            <div *ngIf="addFormVisibleFor === classSubject.id" class="p-3 border rounded">
                              <form [formGroup]="addClassSubjectAssessmentForm" class="flex gap-2">
                                <mat-form-field appearance="outline" class="w-full">
                                  <mat-label>Assessment Type</mat-label>
                                  <input matInput type="text" formControlName="assessmentType" required />
                                </mat-form-field>
                                <mat-form-field appearance="outline" class="w-full">
                                  <mat-label>Score Weight</mat-label>
                                  <input matInput type="number" formControlName="scoreWeigth" required />
                                </mat-form-field>
                              </form>

                              <div class="actions-btn flex justify-end mt-1 gap-5 form-container mx-auto px-3">
                                <button mat-button class="cancel-btn" type="button"
                                  (click)="hideAddForm()">Cancel</button>
                                <button mat-raised-button class="sec-btn"
                                  (click)="submitClassSubjectAssessment(classSubject)" color="primary" type="button"
                                  [disabled]="addClassSubjectAssessmentForm.invalid">
                                  Save
                                </button>
                              </div>
                            </div>
                          </mat-accordion>

                        </ul>

                      </mat-expansion-panel>

                            <button *ngIf="addFormVisibleFor != class.id" mat-raised-button color="primary"
                              (click)="onRefresh(ProgramSetupLevel.CLASSSUBJECT)">
                              <mat-icon>refresh</mat-icon>
                            </button>
                      <button *ngIf="addFormVisibleFor != class.id" mat-raised-button color="accent"
                        (click)="showAddForm(class.id)">
                        <mat-icon>add</mat-icon>
                      </button>
                      <div *ngIf="addFormVisibleFor === class.id" class="p-3 border rounded">
                        <form [formGroup]="addClassSubjectForm">
                          <mat-form-field appearance="outline" class="w-full">
                            <mat-label>Subject</mat-label>
                            <mat-select formControlName="subjectId">
                              @for (subject of subjectAllSnapShot; track $index) {
                              <mat-option [value]="subject.id"> {{ subject.name }}</mat-option>
                              }
                            </mat-select>
                          </mat-form-field>
                        </form>

                        <div class="actions-btn flex justify-end mt-1 gap-5 form-container mx-auto px-3">
                          <button mat-button class="cancel-btn" type="button" (click)="hideAddForm()">Cancel</button>
                          <button mat-raised-button class="sec-btn" (click)="submitClassSubject(class)" color="primary"
                            type="button" [disabled]="addClassSubjectForm.invalid">
                            Save
                          </button>
                        </div>
                      </div>
                    </mat-accordion>

                  </ul>

                </mat-expansion-panel>

                            <button *ngIf="addFormVisibleFor != classLevel.id" mat-raised-button color="primary"
                              (click)="onRefresh(ProgramSetupLevel.CLASSARM)">
                              <mat-icon>refresh</mat-icon>
                            </button>
                <button *ngIf="addFormVisibleFor != classLevel.id" mat-raised-button color="accent"
                  (click)="showAddForm(classLevel.id)">
                  <mat-icon>add</mat-icon>
                </button>
                <div *ngIf="addFormVisibleFor === classLevel.id" class="p-3 border rounded">
                  <form [formGroup]="addClassArmForm">
                    <mat-form-field appearance="outline" class="w-full">
                      <mat-label>Class Arm (e.g A, B, C...)</mat-label>
                      <input matInput type="text" formControlName="name" required />
                    </mat-form-field>
                  </form>

                  <div class="actions-btn flex justify-end mt-1 gap-5 form-container mx-auto px-3">
                    <button mat-button class="cancel-btn" type="button" (click)="hideAddForm()">Cancel</button>
                    <button mat-raised-button class="sec-btn" (click)="submitClassArm(classLevel)" color="primary"
                      type="button" [disabled]="addClassArmForm.invalid">
                      Save
                    </button>
                  </div>
                </div>
              </mat-accordion>

            </ul>

          </mat-expansion-panel>

                            <button *ngIf="addFormVisibleFor != programType.id" mat-raised-button color="primary"
                              (click)="onRefresh(ProgramSetupLevel.CLASSLEVEL)">
                              <mat-icon>refresh</mat-icon>
                            </button>
          <button *ngIf="addFormVisibleFor != programType.id" mat-raised-button color="accent"
            (click)="showAddForm(programType.id)">
            <mat-icon>add</mat-icon>
          </button>
          <div *ngIf="addFormVisibleFor === programType.id" class="p-3 border rounded">
            <form [formGroup]="addClassLevelForm">
              <mat-form-field appearance="outline" class="w-full">
                <mat-label>Level (e.g 1, 2, 3...)</mat-label>
                <input matInput type="number" formControlName="level" required />
              </mat-form-field>
            </form>

            <div class="actions-btn flex justify-end mt-1 gap-5 form-container mx-auto px-3">
              <button mat-button class="cancel-btn" type="button" (click)="hideAddForm()">Cancel</button>
              <button mat-raised-button class="sec-btn" (click)="submitClassLevel(programType)" color="primary"
                type="button" [disabled]="addClassLevelForm.invalid">
                Save
              </button>
  </div>
</div>
        </mat-accordion>

      </ul>

    </mat-expansion-panel>
  </mat-accordion>
  }
  @else {
    <app-table-loader></app-table-loader>
  }

  
</div>