#topbar {
  background-image: url("../../../assets/images/home-background.svg");
  background-color: var(--app-primary);
}

#home {
  background-image: url("../../../assets/images/home-background.svg");
  background-color: var(--app-primary);
  overflow: hidden;
}
